.contacts {
  width: 100%;
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(245, 150, 47, 0.1))), url("../image/contact_back.gif");
  background-image: linear-gradient(white, rgba(245, 150, 47, 0.1)), url("../image/contact_back.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.contacts__wrap {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contacts__title {
  text-align: center;
  z-index: 100;
}

.contacts__title img {
  width: 100%;
  max-width: 981px;
  max-height: 150px;
}

.contacts__text {
  text-align: left;
  padding-left: 2em;
  font-size: 14px;
}

@media (min-width: 768px) {
  .contacts__text {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .contacts__text br {
    display: none;
    text-align: center;
  }
}

.form {
  margin-top: 3em;
  margin-bottom: 16em;
  position: relative;
}

@media (min-width: 992px) {
  .form {
    margin-top: 5em;
    margin-bottom: 25em;
  }
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form textarea {
  width: 100%;
  padding-left: .5em;
  border: 1px solid #707070;
  background-color: #F2F2F2;
  border-radius: 5px;
}

.form input[type="checkbox"],
.form input[type="radio"] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-right: .5em;
}

.form textarea {
  height: calc(1.2em * 10);
  line-height: 1.2;
  padding: .5em;
}

.form__dl {
  width: 100%;
  font-size: 12px;
  padding: 3em 0;
  line-height: 2.5;
}

@media (min-width: 992px) {
  .form__dl {
    font-size: 18px;
  }
}

.form__box {
  padding: 0;
  margin: 0 0 1em;
}

@media (min-width: 992px) {
  .form__box {
    padding: .5em 0;
  }
}

@media (min-width: 992px) {
  .form__dt {
    width: 30%;
  }
}

.form__dt label {
  margin: 0;
}

.form__dt span {
  color: #D40000;
}

.form__dd {
  margin: 0;
}

@media (min-width: 992px) {
  .form__dd {
    width: 70%;
  }
}

.form__dd input[type="radio"]:not(:nth-of-type(1)),
.form__dd input[type="checkbox"]:not(:nth-of-type(1)) {
  margin-left: 1em;
}

.form__line {
  height: 1px;
  margin-top: 3em;
  position: relative;
}

@media (min-width: 992px) {
  .form__line {
    margin-top: 5em;
  }
}

.form__line::before {
  content: "";
  background-image: linear-gradient(to right, #1A1311, #1A1311 3px, transparent 3px, transparent 8px);
  background-size: 8px 1px;
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form__text {
  font-size: 5px;
  text-align: center;
  padding: 1em 0;
}

@media (min-width: 992px) {
  .form__text {
    font-size: 16px;
    padding: 1.5em 0;
  }
}

.form__box1 {
  position: relative;
  z-index: 0;
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff;
  font-size: 24px;
}

@media (min-width: 576px) {
  .form__box1 {
    font-size: 36px;
  }
}

.form__box2 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 107px;
  height: 40px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 576px) {
  .form__box2 {
    width: 177px;
    height: 74px;
  }
}

.form__box2:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
  color: #1A1311;
  background: -webkit-gradient(linear, left top, right top, from(#9966FF), to(#99CCFF));
  background: linear-gradient(to right, #9966FF, #99CCFF);
}

.form__box2:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background: -webkit-gradient(linear, left top, right bottom, from(#9966FF), to(#F5962F));
  background: linear-gradient(to bottom right, #9966FF, #F5962F);
}

.form__box2:hover:before {
  opacity: 0;
}

.form__box2:hover {
  top: 5px;
  left: calc(50% + 5px);
  color: #fff;
}

.form__box3 {
  position: absolute;
  width: 107px;
  height: 40px;
  border: 1px solid #1A1311;
  z-index: -3;
  top: 5px;
  left: calc(50% + 5px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 576px) {
  .form__box3 {
    width: 177px;
    height: 74px;
  }
}

.form__arrow {
  position: absolute;
  bottom: -13em;
  left: 50%;
}

.form__arrow span {
  display: block;
  width: 1px;
  height: 100px;
  margin: 0 auto;
  background-color: #1A1311;
  position: relative;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-animation: arrow03 5s ease-in-out infinite forwards;
          animation: arrow03 5s ease-in-out infinite forwards;
}

@-webkit-keyframes arrow03 {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  30% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  85% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes arrow03 {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  30% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  85% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .form__arrow {
    bottom: -18em;
  }
}

.question {
  margin: 5em 0 2em;
}

@media (min-width: 992px) {
  .question {
    margin: 15em 0 7em;
  }
}

.question__title {
  font-size: 28px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  padding: 0 0 .2em;
}

@media (min-width: 992px) {
  .question__title {
    font-size: 36px;
    line-height: 1.2;
    padding: 0 0 .5em;
  }
}

.question__text {
  font-size: 12px;
  line-height: 2;
  padding: 2em 0 5em;
}

@media (min-width: 992px) {
  .question__text {
    font-size: 16px;
    line-height: 2.4;
  }
}

.question__subTitle {
  font-size: 20px;
  line-height: 2.1;
}

@media (min-width: 992px) {
  .question__subTitle {
    font-size: 28px;
    line-height: 1.5;
  }
}

.question__dl {
  padding: 1.5em 0;
  margin: 0;
}

.question__box {
  padding: 0 0 1em;
}

@media (min-width: 992px) {
  .question__box {
    padding: 0 0 1.5em;
  }
}

.question__dt {
  font-size: 12px;
  line-height: 2;
  color: #D40000;
}

.question__dt span {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  background-color: #D40000;
  border-radius: 50%;
  margin-right: .5em;
}

@media (min-width: 992px) {
  .question__dt {
    font-size: 18px;
    line-height: 2.2;
  }
  .question__dt span {
    display: inline-block;
    text-align: center;
    width: 28px;
    height: 28px;
    color: #fff;
    line-height: 28px;
    background-color: #D40000;
    border-radius: 50%;
    margin-right: .7em;
  }
}

.question__dd {
  font-size: 12px;
  line-height: 2;
  margin-left: calc(20px + .5em);
  text-align: justify;
}

@media (min-width: 992px) {
  .question__dd {
    font-size: 18px;
    line-height: 1.7;
    margin-left: calc(28px + .7em);
  }
}

.question__line1 {
  border-bottom: 3px solid #707070;
}

.question__line2 {
  border-bottom: 1px solid #707070;
}

.question__line3 {
  height: 3px;
  margin: 5em 0 0;
  position: relative;
}

.question__line3::before {
  content: "";
  background-image: linear-gradient(to right, #1A1311, #1A1311 3px, transparent 3px, transparent 8px);
  background-size: 8px 1px;
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 1200px) {
  .swiper {
    margin: 0 0 5em;
  }
}

.swiper-container {
  position: relative;
  overflow: hidden;
  padding: 1em 0;
  height: 20vw;
  max-height: 600px;
  min-height: 400px;
}

.swiper-container .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
}

.swiper-container .swiper-slide {
  text-align: center;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container .swiper-slide img {
  display: inline;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=contact.css.map */