.instructors {
  width: 100%;
  padding-top: 7em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 251, 251, 0.5)), to(rgba(238, 154, 41, 0.1))), url("../image/instructor_back.jpg");
  background-image: linear-gradient(rgba(251, 251, 251, 0.5), rgba(238, 154, 41, 0.1)), url("../image/instructor_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .instructors {
    padding-top: 15em;
  }
}

.instructors__otgPc {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 1200px) {
  .instructors__otgPc {
    display: block;
  }
}

.instructors__otgPc img {
  width: 100%;
}

@media (min-width: 1200px) {
  .instructors__otgSp {
    display: none;
  }
}

.instructors__otgSp img {
  width: 100%;
}

.instructors__box {
  padding-top: 5%;
  position: relative;
}

@media (min-width: 768px) {
  .instructors__box {
    padding-bottom: 5%;
  }
}

.instructors__title {
  font-size: 21px;
  font-weight: 900;
  color: #1A1311;
  text-align: center;
}

@media (min-width: 576px) {
  .instructors__title {
    font-size: 28px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .instructors__title {
    font-size: 42px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .instructors__title {
    font-size: 36px;
    text-align: left;
  }
}

.instructors__title span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #F5962F));
  background: linear-gradient(transparent 60%, #F5962F 0%);
}

.instructors__text {
  font-size: 14px;
  font-weight: bold;
  padding: 1em 0;
  margin: 0;
  line-height: 2.1;
}

@media (min-width: 576px) {
  .instructors__text {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .instructors__text {
    font-size: 24px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .instructors__text {
    font-size: 28px;
    text-align: left;
  }
}

.instructors__text br:nth-of-type(2) {
  display: none;
}

@media (min-width: 768px) {
  .instructors__text br:nth-of-type(2) {
    display: block;
  }
}

.instructors__spText {
  font-size: 12px;
  padding: 0 0 3em;
  margin: 0;
  line-height: 2.3;
}

@media (min-width: 576px) {
  .instructors__spText {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .instructors__spText {
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .instructors__spText {
    display: none;
  }
}

.instructors__pcText {
  display: none;
  line-height: 2;
}

@media (min-width: 1200px) {
  .instructors__pcText {
    display: block;
    font-size: 18px;
  }
}

.instructors__pcText span {
  font-weight: bold;
}

.instructorsArea {
  padding: 5em 0;
}

.instructorsArea__title {
  width: 100%;
}

.instructorsArea__title img {
  width: 100%;
}

.instructorsArea__text {
  font-size: 12px;
  line-height: 1.5;
}

@media (min-width: 576px) {
  .instructorsArea__text {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .instructorsArea__text br {
    display: none;
  }
}

.member {
  font-size: 18px;
  color: #fff;
  overflow: hidden;
}

.member__box:nth-of-type(1) {
  height: 520px;
}

@media (min-width: 992px) {
  .member__box:nth-of-type(1) {
    height: 1080px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .member__box:nth-of-type(2) {
    height: 1080px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .member__box:nth-of-type(3) {
    height: 1080px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.member__info {
  border-top: 3px solid #707070;
  position: relative;
  z-index: 400;
}

@media (min-width: 768px) {
  .member__info {
    border: none;
  }
}

.member__name {
  position: absolute;
  top: 0;
  left: 15%;
  width: 25%;
}

.member__photo {
  display: none;
}

@media (min-width: 992px) {
  .member__photo {
    display: block;
    position: absolute;
    bottom: 0;
    right: 15%;
  }
}

.member__instagram {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

@media (min-width: 768px) {
  .member__instagram {
    display: none;
  }
}

.member__leftFrame {
  background: #707070;
  width: 40px;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 992px) {
  .member__leftFrame {
    display: none;
  }
}

.member__leftFrame:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100%);
  height: 0;
  border-top: solid 40px #707070;
  border-right: solid 40px transparent;
}

.member__qandaBox {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  margin-top: 80px;
  padding-bottom: 80px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 500;
  overflow-x: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.member__qandaBox.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.member__qanda {
  background: -webkit-gradient(linear, left top, left bottom, from(#F5962F), to(#D9C6F8));
  background: linear-gradient(to bottom, #F5962F, #D9C6F8);
  padding: .5em 1em;
  width: 100%;
}

.member__qanda__title {
  line-height: 1;
}

.member__qanda__title__span1 {
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-size: 36px;
}

.member__qanda__title__span2 {
  font-size: 18px;
  color: #fff;
}

.member__qanda__title__span3 {
  font-family: 'Permanent Marker', cursive;
  color: #D9C6F8;
  font-size: 36px;
  display: block;
  text-align: right;
}

.member__qanda__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  margin: 0;
}

.member__qanda__box {
  background-color: #fff;
  padding: .5em;
}

.member__qanda__lastbox {
  background-color: #fff;
  margin-top: 1px;
  padding: 1em;
}

.member__qanda__dt {
  color: #F5962F;
  overflow: hidden;
  font-size: 12px;
}

.member__qanda__dt span {
  float: left;
  display: inline-block;
  width: 40px;
  height: 38px;
  text-align: center;
  background-color: #F5962F;
  color: #FFF;
  font-size: 30px;
  margin-right: 5px;
  line-height: 1;
}

.member__qanda__dd {
  overflow: hidden;
  color: #1A1311;
  font-size: 12px;
}

.member__qanda__dd span {
  float: left;
  display: inline-block;
  width: 40px;
  text-align: center;
  background-color: #FFF;
  color: #F5962F;
  font-size: 30px;
  margin-right: 5px;
  line-height: 1.2;
}

.member__qanda__text {
  font-size: 12px;
  margin: 0;
  color: #9966FF;
}

.member__rotate1 {
  margin: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: sideways;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  bottom: 0;
}

.member__rotate1 span {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 992px) {
  .member__rotate1 span {
    font-size: 46px;
  }
}

.member__rotate1 span:nth-of-type(1) {
  font-family: 'Permanent Marker', cursive;
}

.member__rotate1 span:nth-of-type(2) {
  font-size: 18px;
  padding: .5em 0;
}

@media (min-width: 992px) {
  .member__rotate1 span:nth-of-type(2) {
    font-size: 16px;
  }
}

.member__rotate1 span:nth-of-type(3) {
  font-family: 'Permanent Marker', cursive;
  color: #D9C6F8;
}

.member__rightFrame {
  background: #707070;
  width: 40px;
  height: 420px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 992px) {
  .member__rightFrame {
    display: none;
  }
}

.member__rightFrame:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: calc(100%);
  height: 0;
  border-bottom: solid 40px #707070;
  border-left: solid 40px transparent;
  bottom: 100%;
}

.member__careerBox {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding-top: 80px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  overflow-x: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.member__careerBox.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.member__career {
  background: -webkit-gradient(linear, left top, left bottom, from(#99CCFF), to(#D9C6F8));
  background: linear-gradient(to bottom, #99CCFF, #D9C6F8);
  padding: 1em;
  width: 100%;
}

.member__career__title {
  line-height: 1;
  margin-bottom: .5em;
}

.member__career__title__span1 {
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-size: 36px;
}

.member__career__title__span2 {
  font-size: 18px;
  color: #fff;
}

.member__career__box {
  background-color: #fff;
  padding: .5em 1em 0;
}

.member__career__text {
  font-size: 12px;
  color: #1A1311;
  font-weight: bold;
  text-align: justify;
  padding: 1em 0;
}

.member__career__list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.member__career__list__box:nth-child(even) .member__career__dt {
  color: #D9C6F8;
}

.member__career__dt {
  font-size: 42px;
  color: #99CCFF;
  font-weight: lighter;
}

.member__career__dd {
  font-size: 12px;
  color: #1A1311;
  width: 100%;
  margin-left: 2em;
  padding: 1em 0;
  border-top: 1px solid #99CCFF;
}

.member__rotate2 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways;
}

.member__rotate2 span {
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 992px) {
  .member__rotate2 span {
    font-size: 46px;
  }
}

.member__rotate2 span:nth-of-type(1) {
  font-family: 'Permanent Marker', cursive;
}

.member__rotate2 span:nth-of-type(2) {
  font-size: 18px;
  padding: .5em 0;
}

@media (min-width: 992px) {
  .member__rotate2 span:nth-of-type(2) {
    font-size: 24px;
  }
}

.member__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.member__img img {
  width: 30%;
}

.member__message {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .member__message {
    background-color: #fff;
    opacity: 1;
    border-right: 5px solid #707070;
    border-bottom: 5px solid #707070;
  }
}

.member__textBox {
  height: 100%;
  position: relative;
}

.member__spPhoto {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

@media (min-width: 992px) {
  .member__spPhoto {
    display: none;
  }
}

.member__text {
  color: #707070;
  font-size: 12px;
  padding: 2em 3.5em;
  text-align: justify;
  line-height: 1.5;
  background-color: #FFF;
  opacity: .6;
  margin: 0;
}

@media (min-width: 992px) {
  .member__text {
    color: #DEDEDE;
    font-size: 20px;
    line-height: 1.5;
    margin-right: 2.5em;
  }
}

@media (min-width: 1200px) {
  .member__text {
    font-size: 24px;
    line-height: 2;
  }
}

.member__text br {
  display: none;
}

@media (min-width: 992px) {
  .member__text br {
    display: block;
  }
}

.member__youtube {
  width: 100%;
  position: relative;
  padding-bottom: calc(315 / 560 * 100%);
}

@media (min-width: 992px) {
  .member__youtube {
    padding-bottom: 310px;
    background-color: #1A1311;
  }
}

.member__youtube iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 992px) {
  .member__youtube iframe {
    max-width: 551px;
    max-height: 310px;
  }
}

.member__pcLeftFrame {
  display: none;
}

@media (min-width: 992px) {
  .member__pcLeftFrame {
    display: block;
    background: #707070;
    width: 80px;
    height: 690px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.member__pcLeftFrame:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100%);
  height: 0;
  border-top: solid 80px #707070;
  border-left: solid 80px transparent;
}

.member__pcQandaBox {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 770px;
  max-width: 100%;
  overflow: scroll;
  background-color: #1A1311;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 300;
  overflow-x: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.member__pcQandaBox.open {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.member__pcQanda {
  background: -webkit-gradient(linear, left top, right top, from(#F5962F), to(#D9C6F8));
  background: linear-gradient(to right, #F5962F, #D9C6F8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 1.5em 1.5em 0;
  width: 100%;
  min-height: 100%;
}

@media (min-width: 1200px) {
  .member__pcQanda {
    padding: 2em 2em 2em 0;
  }
}

.member__pcQanda__title {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  text-orientation: sideways;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin: 0;
  padding: 2% 0 0 0;
}

.member__pcQanda__title__span1 {
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-size: 48px;
}

.member__pcQanda__title__span2 {
  font-size: 18px;
  color: #fff;
  padding-top: 10px;
}

.member__pcQanda__title__span3 {
  font-family: 'Permanent Marker', cursive;
  color: #D9C6F8;
  font-size: 48px;
  padding-top: 30px;
}

.member__pcQanda__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  margin: 0;
}

.member__pcQanda__box {
  background-color: #fff;
  padding: 1em;
}

.member__pcQanda__lastbox {
  background-color: #fff;
  margin-top: 2px;
  padding: 1em;
}

.member__pcQanda__dt {
  color: #F5962F;
  overflow: hidden;
  font-size: 12px;
}

@media (min-width: 1200px) {
  .member__pcQanda__dt {
    font-size: 14px;
  }
}

.member__pcQanda__dt span {
  float: left;
  width: 36px;
  height: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: text-bottom;
  background-color: #F5962F;
  color: #FFF;
  font-size: 32px;
  margin-right: 5px;
  line-height: 1;
}

.member__pcQanda__dd {
  overflow: hidden;
  color: #1A1311;
  font-size: 12px;
}

@media (min-width: 1200px) {
  .member__pcQanda__dd {
    font-size: 14px;
  }
}

.member__pcQanda__dd span {
  float: left;
  display: inline-block;
  width: 36px;
  text-align: center;
  background-color: #FFF;
  color: #F5962F;
  font-size: 36px;
  margin-right: 5px;
  line-height: 1.5;
}

.member__pcQanda__text {
  margin: 0;
  color: #9966FF;
}

.member__private {
  display: none;
}

@media (min-width: 992px) {
  .member__private {
    display: block;
    width: 100%;
    border-top: 5px solid #707070;
    border-left: 5px solid #707070;
  }
}

.member__privateImg {
  width: 100%;
}

.member__privateImg img {
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .member__privateImg img {
    height: 310px;
  }
}

.member__privateBox {
  height: 100%;
}

.member__pcRightFrame {
  display: none;
}

@media (min-width: 992px) {
  .member__pcRightFrame {
    display: block;
    background: #707070;
    width: 80px;
    height: 690px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.member__pcRightFrame:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: calc(100%);
  height: 0;
  border-bottom: solid 80px #707070;
  border-right: solid 80px transparent;
  bottom: 100%;
}

.member__pcCareerBox {
  width: 0;
  height: 770px;
  overflow: scroll;
  background-color: #1A1311;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 300;
  overflow-x: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.member__pcCareerBox.open {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.member__pcCareer {
  background: -webkit-gradient(linear, left top, right top, from(#D9C6F8), to(#99CCFF));
  background: linear-gradient(to right, #D9C6F8, #99CCFF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  padding: 1.5em 0 1.5em 1.5em;
  width: 100%;
  min-height: 100%;
}

@media (min-width: 992px) {
  .member__pcCareer {
    padding: 2em 0 2em 2em;
  }
}

.member__pcCareer__title {
  text-orientation: sideways;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin: 0;
}

.member__pcCareer__title__span1 {
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-size: 52px;
}

.member__pcCareer__title__span2 {
  font-size: 24px;
  color: #fff;
  padding-top: 10px;
}

.member__pcCareer__text {
  color: #1A1311;
  font-weight: bold;
  margin-bottom: 4em;
}

.member__pcCareer__box {
  background-color: #fff;
  padding: 1em;
}

@media (min-width: 1200px) {
  .member__pcCareer__box {
    padding: 2em;
  }
}

.member__pcCareer__list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.member__pcCareer__list__box:nth-child(even) .member__pcCareer__dt {
  color: #D9C6F8;
}

.member__pcCareer__dt {
  color: #99CCFF;
  font-size: 48px;
}

.member__pcCareer__dd {
  color: #1A1311;
  width: 100%;
  font-size: 14px;
  margin-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #99CCFF;
}

.member__link {
  position: absolute;
  bottom: 3%;
  right: 5%;
}

.member__link img {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=instructor.css.map */