@charset "utf-8";
@import url("svg.css"); 
@import url("instructor.css"); 
@import url("atmosphere.css"); 
@import url("course.css"); 
@import url("contact.css"); 

// 共通設定 ここから

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #1A1311;
    background-color: #fff;
    height: 100vh;
}

/* Safari用のハックは、Chromeに適用されないようにする */
@supports (-webkit-touch-callout: none) {
    body {
        /* Safari用のハック */
        height: -webkit-fill-available;
    }
}

a {
    color: #1A1311;

    &:hover {
        text-decoration: none;
        color: #1A1311;
    }
}

li {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: center;
}

// 横矢印アニメーション(200px)
@mixin arrow1 {
    span {
        display: block;
        width: 200px;
        height: 1px;
        background-color: #1A1311;
        position: relative;
        transform: scale(0, 1);
        transform-origin: top left;
        animation: arrow01 5s ease-in-out infinite forwards;

        &::after {
            content: "";
            display: block;
            width: 8px;
            height: 15px;
            border-right: 1px solid #1A1311;
            transform: rotate(-45deg) scale(1, 0);
            transform-origin: right bottom;
            position: absolute;
            bottom: 1px;
            right: 0;
            animation: arrow02 5s ease-in-out infinite forwards;
        }
    }

    @keyframes arrow01 {
        0% {
            transform: scale(0, 1);
        }

        30% {
            transform: scale(0, 1);
        }

        40% {
            transform: scale(1, 1);
        }

        85% {
            transform: scale(1, 1);
            opacity: 1;
        }

        90% {
            transform: scale(1, 1);
            opacity: 0;
        }

        100% {
            transform: scale(1, 1);
            opacity: 0;
        }
    }

    @keyframes arrow02 {
        0% {
            transform: rotate(-45deg) scale(1, 0);
        }

        45% {
            transform: rotate(-45deg) scale(1, 0);
        }

        55% {
            transform: rotate(-45deg) scale(1, 1);
        }

        85% {
            transform: rotate(-45deg) scale(1, 1);
            opacity: 1;
        }

        90% {
            transform: rotate(-45deg) scale(1, 1);
            opacity: 0;
        }

        100% {
            transform: rotate(-45deg) scale(1, 1);
            opacity: 0;
        }
    }
}

// 縦矢印アニメーション(100px)
@mixin arrow2 {
    span {
        display: block;
        width: 1px;
        height: 100px;
        margin: 0 auto;
        background-color: #1A1311;
        position: relative;
        transform: scale(0, 1);
        transform-origin: top left;
        animation: arrow03 5s ease-in-out infinite forwards;

        @media (min-width: 992px) {
            width: 2px;
        }

        &::before {
            content: "";
            display: block;
            width: 4px;
            height: 7.5px;
            border-right: 1px solid #1A1311;
            transform: rotate(270deg) scale(1, 0);
            transform-origin: right bottom;
            position: absolute;
            bottom: -1px;
            right: 0;
            animation: arrow05 5s ease-in-out infinite forwards;

            @media (min-width: 992px) {
                border-right: 2px solid #1A1311;
                width: 8px;
                height: 15px;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 4px;
            height: 7.5px;
            border-right: 1px solid #1A1311;
            transform: rotate(45deg) scale(1, 0);
            transform-origin: right bottom;
            position: absolute;
            bottom: -1px;
            right: 0;
            animation: arrow04 5s ease-in-out infinite forwards;

            @media (min-width: 992px) {
                border-right: 2px solid #1A1311;
                width: 8px;
                height: 15px;
            }
        }
    }

    @keyframes arrow03 {
        0% {
            transform: scale(1, 0);
        }

        30% {
            transform: scale(1, 0);
        }

        40% {
            transform: scale(1, 1);
        }

        85% {
            transform: scale(1, 1);
            opacity: 1;
        }

        90% {
            transform: scale(1, 1);
            opacity: 0;
        }

        100% {
            transform: scale(1, 1);
            opacity: 0;
        }
    }

    @keyframes arrow04 {
        0% {
            transform: rotate(45deg) scale(1, 0);
        }

        45% {
            transform: rotate(45deg) scale(1, 0);
        }

        55% {
            transform: rotate(45deg) scale(1, 1);
        }

        85% {
            transform: rotate(45deg) scale(1, 1);
            opacity: 1;
        }

        90% {
            transform: rotate(45deg) scale(1, 1);
            opacity: 0;
        }

        100% {
            transform: rotate(45deg) scale(1, 1);
            opacity: 0;
        }
    }

    @keyframes arrow05 {
        0% {
            transform: rotate(-45deg) scale(1, 0);
        }

        45% {
            transform: rotate(-45deg) scale(1, 0);
        }

        55% {
            transform: rotate(-45deg) scale(1, 1);
        }

        85% {
            transform: rotate(-45deg) scale(1, 1);
            opacity: 1;
        }

        90% {
            transform: rotate(-45deg) scale(1, 1);
            opacity: 0;
        }

        100% {
            transform: rotate(-45deg) scale(1, 1);
            opacity: 0;
        }
    }
}

// 横矢印アニメーション(300px)
@mixin arrow3 {
    span {
        display: block;
        width: 220px;
        height: 1px;
        background-color: #1A1311;
        position: relative;
        transform: scale(0, 1);
        transform-origin: top left;
        animation: arrow01 5s ease-in-out infinite forwards;

        @media (min-width: 576px) {
            width: 300px;
        }

        &::after {
            content: "";
            display: block;
            width: 8px;
            height: 15px;
            border-right: 1px solid #1A1311;
            transform: rotate(-45deg) scale(1, 0);
            transform-origin: right bottom;
            position: absolute;
            bottom: 1px;
            right: 0;
            animation: arrow02 5s ease-in-out infinite forwards;
        }
    }
}

// 縦棒アニメーション(100px)
@mixin arrow4 {
    span {
        display: block;
        width: 1px;
        height: 50px;
        margin: 0 auto;
        background-color: #1A1311;
        position: relative;
        transform: scale(0, 1);
        transform-origin: top left;
        animation: arrow03 5s ease-in-out infinite forwards;

        @media (min-width: 992px) {
            width: 2px;
            height: 100px;
        }
    }

    @keyframes arrow03 {
        0% {
            transform: scale(1, 0);
        }

        30% {
            transform: scale(1, 0);
        }

        40% {
            transform: scale(1, 1);
        }

        85% {
            transform: scale(1, 1);
            opacity: 1;
        }

        90% {
            transform: scale(1, 1);
            opacity: 0;
        }

        100% {
            transform: scale(1, 1);
            opacity: 0;
        }
    }
}

// 共通設定 ここまで

// トップ領域 ここから
.top {
    width: 100%;
    height: 100vh;
    position: relative;

    &__videoBox {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        box-sizing: border-box;
    }

    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        // width: 100%;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);

        img {
            &:nth-of-type(1) {
                display: none; 

                @media (min-width: 768px) {
                    display: block;
                }
            }

            &:nth-of-type(2) {
                display: block; 

                @media (min-width: 768px) {
                    display: none;
                }
            }
        }
    }

    &__overlay::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background-size: 3px 3px;
        z-index: 2;
    }

    &__titleBox {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;

        @media (min-width: 1200px) {
            top: 50%;
        }
    }

    &__arrow {
        padding-top: 2em;
        @include arrow2;

        @media (max-height: 700px) {
            display: none;
        }
    }

    &__box {
        position: absolute;
        bottom: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 3px solid #444;
        padding-top: 1em;
    }

    &__news {
        font-family: 'Permanent Marker', cursive;
        font-size: 18px;
        text-shadow: 1px 1px 1px #fff;

        @media (min-width: 576px) {
            font-size: 24px;
        }

        @media (min-width: 768px) {
            font-size: 36px;
            text-align: right;

            @media (orientation: landscape) {
                font-size: 18px;
            }
        }
        
        @media (min-width: 1200px) {
            font-size: 36px;

            @media (orientation: landscape) {
                font-size: 36px;
            }
        }
    }

    &__list {
        font-size: 12px;
        text-shadow: .5px .5px .5px #fff;

        @media (max-height: 350px) {
            font-size: 8px;
        }

        @media (min-width: 576px) {
            font-size: 18px;

            @media (orientation: landscape) {
                font-size: 8px;
            }
        }

        @media (min-width: 1200px) {
            font-size: 18px;

            @media (orientation: landscape) {
                font-size: 18px;
            }
        }
    }

    &__item {
        display: block;
        border-left: 2px solid #444;
        padding: .5em 1em;

        @media (min-width: 992px) {
            display: flex;
            align-items: center;
        }

        &:nth-of-type(2) {
            border-top: 2px solid #444;
            border-bottom: 2px solid #444;
        }
    }

    &__term {
        width: 150px;

        @media (min-width: 992px) {
            text-align: center;
        }
    }

    &__desc {
        width: 95%;
        margin: 0;

        @media (min-width: 992px) {
            width: 100%;
        }
    }

    &__icon {
        display: none;
        width: 5%;
        text-align: right;
        margin: 0;

        img {
            width: 60%;
        }

        @media (min-width: 992px) {
            display: block;
        }
    }
}

// @supports (-webkit-touch-callout: none) {
//      .top {
//       /* The hack for Safari */
//        height: -webkit-fill-available;
//      }
//    }
// トップ領域 ここまで

// SPナビゲーション領域 ここから
.spnavi1 {
    width: 100%;
    height: 80px;
    z-index: 600;
    background-color: #fff;

    &.fixed {
        position: fixed;
        top: 0;
    }

    &.fixedTop {
        position: fixed;
        top: 0;
    }

    @media (min-width: 1200px) {
        display: none;
    }

    &__fixed {
        position: fixed;
        top: 0;
    }

    &__list {
        width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin: 0;
    }

    &__logo {
        padding: 0 0 .2em .5em;

        @media (min-width: 576px) {
            padding: 0 0 .2em 1.5em;
        }

        img {
            width: 60px;
        }
    }

    &__menu {
        position: relative;
        width: 45px;
        height: 40px;
        padding: .2em 0 0 0;
        border-radius: 3px;

        &:nth-of-type(2) {
            margin: 0 1.5em 0 auto;

            @media (min-width: 576px) {
                margin: 0 2em 0 auto;
            }
        }

        span {
            display: inline-block;
            transition: all .3s;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: #1A1311;
            border-radius: 3px;

            &:nth-of-type(1) {
                top: 0;
            }

            &:nth-of-type(2) {
                top: 16px;
            }

            &:nth-of-type(3) {
                bottom: 0;
            }
        }

        &.active {
            transition: all .3s;
            // background-color: #1A1311;

            span {
                background-color: #1A1311;

                &:nth-of-type(1) {
                    transform: translateY(16px) rotate(-45deg);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    transform: translateY(-16px) rotate(45deg);
                }
            }
        }
    }

    &__btn {
        width: 55px;
        height: 40px;

        &:nth-of-type(3) {
            margin: 0 .5em 0 0;

            @media (min-width: 576px) {
                margin: 0 1em 0 0;
            }
        }

        &:last-child {
            margin: 0 .5em 0 0;

            @media (min-width: 576px) {
                margin: 0 1.5em 0 0;
            }
        }
    }

    &__text {
        font-size: 12px;
        color: #fff;
        margin: 0;
        // letter-spacing: .16em;
    }

    &__box1 {
        position: relative;
        z-index: 0;
        margin: 0;
        transition: .5s;
        height: 40px;
    }

    &__box2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 55px;
        height: 40px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .5s;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            left: 0;
            transition: .5s;
            color: #1A1311;
            // border: 3px solid #1A1311;
            background: inear-gradient(to bottom right, #9966FF, #99CCFF);
        }

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -2;
            left: 0;
            background: linear-gradient(to bottom right, #9966FF, #F5962F);
            top: 0;
        }

        &:hover:before {
            opacity: 0;
        }

        &:hover {
            top: 2px;
            left: 2px;
            color: #fff;
        }
    }

    &__box3 {
        position: absolute;
        width: 55px;
        height: 40px;
        border: 1px solid #1A1311;
        z-index: -3;
        top: 2px;
        left: 2px;
    }
}
// SPナビゲーション領域 ここまで

// SPナビゲーション領域（オープン時） ここから
.spnavi2 {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding-top: 80px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    transition: opacity .6s ease, visibility .6s ease;
    background: linear-gradient(to bottom right, #F5962F, #9966FF);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    // &__wrap {
    //     position: absolute;
    //     align-items: center;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
    //     width: 100%;
    //     height: 100%;
    // }

    &__list {
        &:nth-of-type(2) {
            display: flex;
            justify-content: center;
        }
    }

    &__item {
        text-align: center;
        padding: 0 0 .5em;
        // line-height: 5em;
        // letter-spacing: 0;

        &:nth-of-type(1) {
            padding-top: 1em;
        }

        @media (min-width: 768px) {
            padding: 0 0 2em;
        }

        a {
            color: #fff;
            // padding: .5em 0 .5em 1em;
            transition: .5s;

            &:hover {
                color: #666;
            }
        }
    }

    &__lg {
        font-size: 42px;
        font-family: 'Permanent Marker', cursive;
        line-height: 1em;
    }

    &__sm {
        font-size: 14px;
    }

    &__icon {
        filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
        padding: 0 .5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
// SPナビゲーション領域（オープン時） ここまで

// フレックスボックス領域（メイン領域とPCナビ領域の２カラム設定） ここから
.flexWrapper {
    display: block;

    @media (min-width: 1200px) {
        display: flex;
        flex-direction: row-reverse;
    }
}
// フレックスボックス領域（メイン領域とPCナビ領域の２カラム設定） ここまで

// PCナビゲーション領域 ここから
.gnavi {
    display: none;

    @media (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 0;
        width: 200px;
        height: 100vh;
        background-color: #fff;
        z-index: 100;

        &.fixed {
            position: fixed;
            top: 0;
        }
    }

    @media (max-height: 900px) {
        overflow-y: scroll;
    }

    &__fixed {
        position: fixed;
        top: 0;
    }

    &__logo {
        text-align: center;
        padding: 2em 0;

        // 縦方向のレスポンシブ
        @media (min-height: 850px) {
            padding: 2em 0 5em;
        }

        img {
            width: 40%;
        }
    }

    &__item {
        font-size: 26px;
        line-height: .7em;
        letter-spacing: 0;

        // 縦方向のレスポンシブ
        // @media (min-height: 850px) {
        //     padding-bottom: 1.5em;
        // }

        a {
            display: block;
            padding: .5em 0 .5em 1em;
            position: relative;

            // @media (min-width: 992px) {
            //     padding: 1em 1.5em;
            // }
        }

        &:hover {
            .gnavi__bg {
                color: #fff;

                &::before {
                    width: 100%;
                }
            }
        }
    }

    &__bg {
        // display: block;
        width: 100%;
        height: 100%;
        color: #1A1311;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
            background-color: #1A1311;
            z-index: -1;
            transition: .5s;
        }
    }

    &__lg {
        font-family: 'Permanent Marker', cursive;
        font-size: 26px;
    }

    &__sm {
        font-size: 18px;
    }

    &__linkIcon {
        font-size: 14px;
        font-weight: bold;
        padding-left: 1em;

        @media (min-width: 1200px) {
            padding-left: 1.5em;
        }

        img {
            width: 60px;
            margin-top: .5em;
        }
    }

    &__instagram,
    &__youtube {
        position: relative;
        
        &:hover {
            .gnavi__linkBg {
                filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);

                &::before {
                    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
                    width: 100%;
                    height: 60px;
                }
            }
        }
    }

    &__linkBg {
        // display: block;
        width: 100%;
        height: 100%;
        color: #1A1311;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: -15px;
            bottom: 0;
            left: 0;
            width: 0;
            height: 60px;
            background-color: #1A1311;
            z-index: -1;
            transition: .5s;
        }
    }

    &__btn {
        padding: 1em 1.5em;
    }

    &__text {
        font-size: 28px;
        color: #fff;
        margin: 0;
        letter-spacing: .16em;
    }

    &__box1 {
        position: relative;
        z-index: 0;
        margin: 0;
        transition: .5s;
        height: 85px;
    }

    &__box2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 135px;
        height: 85px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .5s;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            left: 0;
            transition: 0.5s;
            color: #1A1311;
            background: linear-gradient(to bottom right, #9966FF, #F5962F);
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -2;
            left: 0;
            background: linear-gradient(to bottom right, #9966FF, #99CCFF);
            top: 0;
        }

        &:hover::before {
            opacity: 0;
        }

        &:hover {
            top: 5px;
            left: 5px;
            color: #fff;
        }
    }

    &__box3 {
        position: absolute;
        width: 135px;
        height: 85px;
        border: 1px solid #1A1311;
        z-index: -3;
        top: 5px;
        left: 5px;
    }
}

// PCナビゲーション領域 ここまで

// メイン領域 ここから
.main {
    width: 100%;
    padding: 0;
    margin: 0;

    @media (min-width: 1200px) {
        margin-right: 200px;
    }
}
// メイン領域 ここまで

// アバウト領域 ここから
.about {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 3em;
    overflow:hidden;
    position: relative;

    // &__bigText {
    //     font-family: 'Permanent Marker', cursive;
    //     font-size: 20em;
    //     color: rgba(#99CCFF, .2) ;
    //     transform: rotate(-5deg);
    //     padding: .5em 0;

    //     @media (min-width: 768px) {
    //         font-size: 12em;
    //     }
    // }

    &__otgPc {
        display: none;
        opacity: 20%;
        padding: 5em 0 3em;
        opacity: .1;
        transform: translateY(50px);
        transition: all 1s;

        &.scrollin {
            opacity: .5;
            transform: translateY(0);
        }

        @media (min-width: 1200px) {
            display: block;
        }

        img {
            width: 112%;
        }
    }

    &__otgSp {
        opacity: 20%;

        @media (min-width: 1200px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    &__left-to-right {
        position: absolute;
        top: 12em;
        left: 0;
        width: 200px;
        transform: translateX(-100px);
        opacity: 0;
        transition: all .5s;
        z-index: -1;

        @media (min-width: 1200px) {
            position: absolute;
            top: 40em;
            left: 0;
            width: 25%;
            transform: translateX(-300px);
        }

        img {
           width: 150%;
        }
      
        &.scrollin {
            transform: translatex(-40px);
            opacity: .7;

            @media (min-width: 1200px) {
                transform: translatex(-120px);
                opacity: 1;
            }
        }
    }

    &__right-to-left {
        position: absolute;
        top: 5em;
        right: -150px;
        width: 150px;
        opacity: 0;
        transform: translatex(0);
        transition: all .5s;

        @media (min-width: 1200px) {
            position: absolute;
            top: 60em;
            right: 0;
            width: 18%;
            transform: translateX(300px);
        }

        img {
            width: 100%;
        }
    
        &.scrollin {
            transform: translateX(-130px);
            opacity: .7;

            @media (min-width: 1200px) {
                opacity: 1;
            }
        }
    }

    &__box {
        padding: 10em 0 3em;
        position: relative;

        @media (min-width: 768px) {
            padding: 10em 0 15em;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        color: #F5962F;

        @media (min-width: 576px) {
            font-size: 32px;
        }

        @media (min-width: 768px) {
            font-size: 45px;
        }

        @media (min-width: 1200px) {
            font-size: 60px;
        }
    }

    &__text {
        font-size: 12px;
        font-weight: bold;
        line-height: 2;
        padding: 3em .5em 0;

        @media (min-width: 576px) {
            font-size: 18px;
        }

        @media (min-width: 768px) {
            font-size: 24px;
        }

        @media (min-width: 1200px) {
            font-size: 32px;
        }
    }

    &__subText {
        font-size: 10px;
        padding: 2em 0;
        line-height: 2.3;

        @media (min-width: 576px) {
            font-size: 14px;
        }

        @media (min-width: 768px) {
            font-size: 16px;
        }

        @media (min-width: 1200px) {
            font-size: 20px;
            line-height: 2.5;
        }
    }

    // &__arrow {
    //     display: none;
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     @include arrow2;

    //     @media (min-width: 576px) {
    //         display: block;
    //     }
    // }
}
// アバウト領域 ここまで

// インストラクター領域 ここから
.instructor {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(#fff, .5), rgba(#EE9A29, .1)), url("../image/memberSp.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;

    @media (min-width: 576px) {
        height: 700px;
        margin-top: 10em;
        background-position: bottom;
        background-size: contain;
        background-image: linear-gradient(rgba(#fff, .5), rgba(#EE9A29, .1)), url("../image/member.png");
    }

    &__arrow {
        position: absolute;
        top: -10%;
        left: 50%;
        @include arrow4;

        @media (min-width: 576px) {
            position: absolute;
            top: -30%;
            left: 50%;
            @include arrow4;
        }
    }

    &__wrap {
        position: relative;
    }

    &__title { 
        z-index: 100;
        position: absolute;
        top: 3em;
        left: 0;
        
        img {
            width: 80%;

            @media (min-width: 576px) {}

            @media (min-width: 768px) {}

            @media (min-width: 992px) {}

            @media (min-width: 1200px) {
                max-width: 981px;
                max-height: 150px;
            }
        }
    }

    &__box {
        width: 100%;
        padding: 2em 3em;
        background-color: rgba(#fff, .6);
        border: 1px solid #1A1311;
        position: absolute;
        top: 8.5em;
        left: 0;

        @media (min-width: 992px) {
            padding: 3em 1em 1em 5em;
            top: 20em;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 2;

        @media (min-width: 576px) {
            font-size: 16px;
        }
    }

    &__br {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__linkBox {
        padding-top: 3em;
        @include arrow1;
        position: relative;

        @media (min-width: 768px) {
            padding: 1em 7em 0 0;
            text-align: right;

            span {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

    &__link {
        font-size: 14px;
        margin: 0;

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
}
// インストラクター領域 ここまで

// コース領域 ここから
.course {
    width: 100%;
    margin: 3em 0;

    @media (min-width: 576px) {
        margin: 7em 0;
    }

    &__title {
        img {
            width: 100%
        }
    }

    &__box {
        @media (min-width: 992px) {
            padding: 0 0 1em 5em;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 2;

        @media (min-width: 576px) {
            font-size: 16px;
        }
    }

    &__br {
        @media (min-width: 992px) {
            display: none;
        }
    }

    &__type {
        overflow: hidden;
        position: relative;
        margin: 1.5em 0 0;

        img {
            width: 100%;
        }

        &:not(:hover) {
            .course__content {
                opacity: 0;
                transform: translateY(100%);
            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 3%;
        width: 94%;
        height: 100%;
        font-size: 12px;
        box-sizing: border-box;
        color: #fff;
        background: linear-gradient(135deg, #99CCFF, #9966FF);
        transition: opacity .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);

        @media (min-width: 768px) {
            font-size: 18px;
            text-align: center;
        }
    }

    &__subTitle {
        font-size: 18px;
        line-height: 1.7;

        @media (min-width: 768px) {
            font-size: 24px;
        }

        @media (min-width: 992px) {
            font-size: 28px;
        }
    }

    &__subText {
        font-size: 10px;
        text-align: center;
        line-height: 3;
        padding: 0 3em;

        @media (min-width: 768px) {
            font-size: 14px;
        }

        @media (min-width: 992px) {
            font-size: 18px;
        }
    }

    &__linkBox {
        padding-top: 3em;
        @include arrow1;
        position: relative;

        @media (min-width: 768px) {
            padding: 2em 7em 0 0;
            text-align: right;
            @include arrow3;

            span {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

    &__link {
        font-size: 14px;
        margin: 0;

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
}

// コース領域 ここまで

// アトモスフィア領域 ここから
.atmosphere {
    width: 100%;
    height: 500px;
    background-image: url("../image/atm_bvd.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;

    @media (min-width: 576px) {
        height: 700px;
        margin-top: 10em;
    }

    &__wrap {
        position: relative;
    }

    &__title {
        z-index: 100;
        position: absolute;
        top: 3em;
        left: 0;

        @media (min-width: 992px) {
            top: 6em;
        }
        
        img {
            width: 80%;
        }
    }

    &__box {
        width: 100%;
        padding: 2em 3em;
        background-color: rgba(#fff, .6);
        border: 1px solid #1A1311;
        position: absolute;
        top: 8.5em;
        left: 0;

        @media (min-width: 992px) {
            padding: 3em 1em 1em 5em;
            top: 17em;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 2;

        @media (min-width: 576px) {
            font-size: 16px;
        }
    }

    &__br {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__linkBox {
        padding-top: 3em;
        @include arrow1;
        position: relative;

        @media (min-width: 768px) {
            padding: 1em 7em 0 0;
            text-align: right;

            span {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

    &__link {
        font-size: 14px;
        margin: 0;

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
}

// アトモスフィア領域 ここまで

// コンタクト領域 ここから
.contact {
    width: 100%;
    min-height: 400px;
    position: relative;

    &__btn {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50px);
    }

    &__title {
        font-family: 'Permanent Marker', cursive;
        font-size: 40px;
        letter-spacing: 0.12em;

        @media (min-width: 576px) {
            font-size: 70px;
        }
    }

    &__box1 {
        position: relative;
        z-index: 0;
        margin: 0;
        transition: 1s;
    }

    &__box2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        /*    background: linear-gradient(to bottom right, #9966ff, #f5962f);*/
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 1s;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            left: 0;
            transition: 1s;
            color: #1A1311;
            border: 3px solid #1A1311;
            background: linear-gradient(to bottom right, #9966FF, #99CCFF);
        }

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: - 2;
            background: linear-gradient(to bottom right, #9966FF, #F5962F);
        }

        &:hover:before {
            opacity: 0;
        }

        &:hover {
            top: 5px;
            left: 5px;
            color: #fff;

            @media (min-width: 576px) {
                top: 10px;
                left: 10px;
            }
        }
    }

    &__box3 {
        position: absolute;
        width: 100%;
        height: 100px;
        border: 1px solid #1A1311;
        z-index: -3;
        top: 5px;
        left: 5px;
        transition: 1s;

        @media (min-width: 576px) {
            top: 10px;
            left: 10px;
        }
    }
}

// コンタクト領域 ここまで

// フッター領域 ここから
.footer {
    width: 100%;
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__rowHeight {
        display: flex;
        flex-wrap: wrap;
        padding-top: 4em;
    }

    &__box {
        img {
            max-width: 350px;
            width: 100%;
            padding: .5em 1em;
        }

        &:nth-of-type(1) {
            order: 3;
        }

        &:nth-of-type(2) {
            order: 1;
        }

        &:nth-of-type(3) {
            order: 2;
        }

        // @media (min-width: 1200px) {
        //     &:nth-of-type(1) {
        //         order: 3;
        //     }

        //     &:nth-of-type(2) {
        //         order: 1;
        //     }

        //     &:nth-of-type(3) {
        //         order: 2;
        //     }
        // }

        @media (min-width: 1200px) {
            &:nth-of-type(1) {
                order: 1;
                display: flex;
                justify-content: baseline;
                align-items: center;
                flex-direction: column;
            }

            &:nth-of-type(2) {
                order: 2;
            }

            &:nth-of-type(3) {
                order: 3;
            }
        }
    }

    &__logo {
        margin-bottom: 1em;

        img {
            width: 100%;
            padding-left: 0;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: .5em 0;

        @media (min-width: 576px) {
            font-size: 18px;
            padding: 1em;
        }
    }

    &__list {
        padding-left: 0;
    }

    &__item {
        width: 100%;
        display: flex;
        font-size: 14px;
        line-height: 1.6em;

        @media (min-width: 576px) {
            font-size: 14px;
            line-height: 2;
        }
    }

    &__dt {
        width: 5em;
        margin-right: 1em;
        font-weight: normal;
    }

    &__dd {
        width: 15em;
        margin: 0;  
    }

    &__br {
        display: none;

        @media (min-width: 1200px) {
            display: block;
        }
    }

    &__gmap {
        display: none;
        height: 0;
        overflow: hidden;
        padding-top: 70%;
        position: relative;

        @media (min-width: 992px) {
            display: block;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0 1em;
        }
    }

    &__textPc,
    &__textSp {
        font-size: 14px;
        padding: 0 0 2em;

        @media (min-width: 576px) {
            font-size: 16px;
            padding: 1em;
        }
    }

    &__textPc {
        display: none;

        @media (min-width: 992px) {
            display: block;
        }
    }

    &__textSp {
        a {
            text-decoration: underline;
        }

        @media (min-width: 992px) {
            display: none;
        }
    }

    &__copyright {
        font-size: 10px;
        padding: 2em;
        text-align: center;


        @media (min-width: 576px) {
            font-size: 14px;
        }
    }
}
// フッター領域 ここまで